<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.ayuda">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ayuda"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">

    <activity android:name=".Activity.Login.MainActivity">



        </activity>
        <activity android:name=".Activity.Login.NgoRegistrationActivity"
            android:label="NGO Registration">


        </activity>
        <activity android:name=".Activity.Login.NonMemberRegistrationActivity"
            android:label="Non Member Registration">


        </activity>
        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"/>

        <activity android:name=".Activity.Login.MemberRegistrationActivity"
            android:label="Member Registration">

        </activity>
        <activity android:name=".Activity.Login.ForgotPasswordActivity"
            android:label="Forgot Password"/>
        <activity android:name=".Activity.MainNavigationActivity">

        </activity>
        <activity android:name=".Activity.News.AddNewsActivity"
            android:label="Add News"/>
        <activity android:name=".Activity.News.NewsDetailsActivity"
            android:label="News Details"/>
        <activity android:name=".Activity.Story.AddStoryActivity"
            android:label="Add Story"/>
        <activity android:name=".Activity.Story.StoryDetailsActivity"
            android:label="Story Details"/>
        <activity android:name=".Activity.Event.AddEventActivity"
            android:label="Add Event">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity android:name=".Activity.Event.EventDetailsActivity"
            android:label="Event Details"/>
        <activity android:name=".Activity.Appeal.ChooseAppealCategoryActivity"
            android:label="Choose Category"/>
        <activity android:name=".Activity.Appeal.AddBloodBankAppealActivity"
            android:label="Add Blood Bank Appeal"/>
        <activity android:name=".Activity.Appeal.BloodBankAppealDetailActivity"
            android:label="Details"/>
        <activity android:name=".Activity.Appeal.BloodBankPopupActivity" />
        <activity android:name=".Activity.Appeal.AddDisasterManagementAppeal"
            android:label="Add Disaster Management Appeal"/>
        <activity android:name=".Activity.Appeal.DisasterManagementAppealDetailsActivity" android:label="Details" />
        <activity android:name=".Activity.Appeal.AddOldAgeAppealActivity"
            android:label="Add Old Age Appeal"/>
        <activity android:name=".Activity.Appeal.OldAgeAppealDetailsActivity"
            android:label="Details"/>
        <activity android:name=".Activity.Appeal.OldAgePopupActivity" />
        <activity android:name=".Activity.Appeal.AddChildLabourAppealActivity"
            android:label="Add Child Labour Appeal"/>
        <activity android:name=".Activity.Appeal.ChildLabourDetailsActivity"
            android:label="Details"/>
        <activity android:name=".Activity.Appeal.ChildLabourPopupActivity" />
        <activity android:name=".Activity.Appeal.AddCommunityDevelopmentAppealActivity"
            android:label="Add Community Development Appeal"/>
        <activity android:name=".Activity.Appeal.CommunityDevelopmentDetailsActivity"
            android:label="Details"/>
        <activity android:name=".Activity.Appeal.CommunityDevelopmentPopupActivity" />
        <activity android:name=".Activity.Appeal.AppealsAcceptedByNgoActivity"
            android:label="Appeals Accepted By NGO"/>
        <activity android:name=".Activity.Appeal.AppealsStatusForUserActivity"
            android:label="Appeal Status"/>
        <activity android:name=".Activity.Appeal.AppealStatusDetailsActivity"
            android:label="Status Details"/>
        <activity android:name=".Activity.ProfileActivity"
            android:label="Profile"/>
        <activity android:name=".Activity.Event.EventUploadedByNgo"
            android:label="Events Uploaded By NGO"/>
    </application>

</manifest>