<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.ayuda">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activity.Login.NgoRegistrationActivity">

        </activity>
        <activity android:name=".Activity.Login.NonMemberRegistrationActivity">

        </activity>
        <activity android:name=".Activity.Login.MemberRegistrationActivity">

        </activity>
        <activity android:name=".Activity.Login.ForgotPasswordActivity" />
        <activity android:name=".Activity.MainNavigationActivity">

        </activity>
        <activity android:name=".Activity.News.AddNewsActivity" />
        <activity android:name=".Activity.News.NewsDetailsActivity" />
        <activity android:name=".Activity.Story.AddStoryActivity" />
        <activity android:name=".Activity.Story.StoryDetailsActivity" />
        <activity android:name=".Activity.Event.AddEventActivity" />
        <activity android:name=".Activity.Event.EventDetailsActivity" />
        <activity android:name=".Activity.Appeal.ChooseAppealCategoryActivity" />
        <activity android:name=".Activity.Appeal.AddBloodBankAppealActivity" />
        <activity android:name=".Activity.Appeal.BloodBankAppealDetailActivity" />
        <activity android:name=".Activity.Appeal.BloodBankPopupActivity" />
        <activity android:name=".Activity.Appeal.AddDisasterManagementAppeal" />
        <activity android:name=".Activity.Appeal.DisasterManagementAppealDetailsActivity" />
        <activity android:name=".Activity.Appeal.AddOldAgeAppealActivity" />
        <activity android:name=".Activity.Appeal.OldAgeAppealDetailsActivity" />
        <activity android:name=".Activity.Appeal.OldAgePopupActivity" />
        <activity android:name=".Activity.Appeal.AddChildLabourAppealActivity" />
        <activity android:name=".Activity.Appeal.ChildLabourDetailsActivity" />
        <activity android:name=".Activity.Appeal.ChildLabourPopupActivity" />
        <activity android:name=".Activity.Appeal.AddCommunityDevelopmentAppealActivity" />
        <activity android:name=".Activity.Appeal.CommunityDevelopmentDetailsActivity" />
        <activity android:name=".Activity.Appeal.CommunityDevelopmentPopupActivity" />
        <activity android:name=".Activity.Appeal.AppealsAcceptedByNgoActivity" />
        <activity android:name=".Activity.Appeal.AppealsStatusForUserActivity" />
        <activity android:name=".Activity.Appeal.AppealStatusDetailsActivity" />
        <activity android:name=".Activity.ProfileActivity" />
    </application>

</manifest>